.container {
    font-family: 'Metropolis' !important;
}
.container h4{
    font-weight:600;
}
.container input:focus, .container textarea:focus  {
    color: #212529;
    border-color: #DDBEA9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #FFE8D666;
}

.label {
    font-size:0.8em;
    color:#6f6f6f;
    margin-bottom:0;
    line-height:20px;
}

.button-file{
    border-color: #CB997E;
    background-color:#DDBEA9;
}
.button-file:hover {
    border-color: #DDBEA9;
    background-color: #CB997E;
}
.button-file:focus, .button-file:active {
    border-color: #DDBEA9;
    background-color: #CB997E;
    box-shadow: 0 0 0 0.25rem #FFE8D666 !important;
}

.label-file {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    cursor:pointer;
}
.input-file {
    display:none;
}


.thumbnail-wrap-outer{
    width:100%;
    max-width:300px;
}
.thumbnail-wrap-inner{
    width:100%;
    padding: 60% 0 0 0;
    position:relative;
}
.mainPic-wrap-outer{
    width:100%;
    max-width:800px;
}
.mainPic-wrap-inner{
    width:100%;
    padding: 60% 0 0 0;
    position:relative;
}

.image-thumbnail, .image-mainPic{
    position:absolute;
    top:0;
    
    width:100%;
    height:100%;

    object-fit:cover;
    border:1px solid rgba(0,0,0,0.2);
}