.nav-bar{
    font-family:avenir;
    background-color:white;
    border-top : 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* nav container*/
.nav-container {
    width:100%;
}
.nav-container a{
    display:block;
    color: black !important;
}

.nav-padding{
    min-width:20px;
}

/* input / form-control */
/* pc */
.input-group-pc-show, .input-group-pc-hide {
    margin-right:10px;
}
.form-control {
    float:right;
    border-right:none;
    flex-grow: 1;
}
.search-icon {
    background-color:white;
    border-left:none;
}

/* mobile */
.input-group-mobile-show, .input-group-mobile-hide {
    width:fit-content !important;
}
.input-group-mobile-show > input {
    transition: 0.2s ease-out;
    margin:inherit;
    max-width:240px;
    border-width:1px;
}
.input-group-mobile-hide > input {
    transition: 0.2s ease-out;
    margin:0;
    max-width:0px;
    border-width:0px;
}
.input-group-mobile-show > span {
    transition: 0.2s ease-out;
    border-width:1px;
}
.input-group-mobile-hide > span {
    transition: 0.2s ease-out;
    border-width:0px;
}

/* icons */
.icons {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.icons > * {
    width:20px;
    padding:0 10px;

    cursor:pointer;
}

@keyframes slidein {
    from {
        width: fit-content !important;
    }
    to {
        width: 240px !important;
    }
}