/* logo */
.Logo-container-pc, .Logo-container-mobile{
    width:fit-content;

    display:flex;
    justify-content: center;
    align-items: center;
}
.Logo-container-pc {
    height:70px;
}
.Logo-container-mobile {
    height:60px;
}
.logo-divider{
    height:30px;
    border-left: 1px solid rgba(0,0,0,0.2);
    margin:0 20px;
}

/* icons */
.icons{
    width:200px;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:576px) {
    .copyright {
        font-size:11pt;
    }
}