@font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-Thin.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'Metropolis';
  src: 'url(/public/fonts/Metropolis-ExtraLight.otf)';
  font-weight: 200;
}
@font-face {
  font-family: 'Metropolis';
  src: 'url(/public/fonts/Metropolis-Light.otf)';
  font-weight: 300;
}
@font-face {
  font-family: 'Metropolis';
  src: 'url(/public/fonts/Metropolis-Regular.otf)';
  font-weight: 400;
}
@font-face {
  font-family: 'Metropolis';
  src: 'url(/public/fonts/Metropolis-Medium.otf)';
  font-weight: 500;
}
@font-face {
  font-family: 'Metropolis';
  src: 'url(/public/fonts/Metropolis-SemiBold.otf)';
  font-weight: 600;
}
@font-face {
  font-family: 'Metropolis';
  src: 'url(/public/fonts/Metropolis-Bold.otf)';
  font-weight: 700;
}
@font-face {
  font-family: 'Metropolis';
  src: 'url(/public/fonts/Metropolis-ExtraBold.otf)';
  font-weight: 800;
}

body {
  margin: 0;
  font-family: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}