.container {
    font-family: 'Metropolis' !important;
}
.container h4{
    font-weight:600;
}
.container input:focus, .container textarea:focus  {
    color: #212529;
    border-color: #DDBEA9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #FFE8D666;
}

/* add button */
.add-btn{
    background-color:white;
    color:#A5A58D;
    border-color:#A5A58D;
}
.add-btn:hover {
    background-color: #A5A58D;
    color:white;
    border-color:#6f6f6f;
}
.add-btn:focus, .add-btn:active {
    background-color: #A5A58D;
    color:white;
    border-color:#6f6f6f;
    box-shadow: 0 0 0 0.25rem #B7B7A488 !important;
}

/* accordion item */
.accordion-item {
    border:none;
}
.accordion-item > h2 > button::after {
    background-image: url('/public/images/down_arrow.svg') !important;
}
.accordion-item > h2 > button:focus {
    border-color: #DDBEA9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #FFE8D666;
}
.accordion-item > h2 > button:not(:global .collapsed) {
    color:white;
    border-color: #CB997E;
    background-color:#DDBEA9;
}

.accordion-header{
    border: 0.25px solid rgba(0,0,0,0.2);
}
.accordion-item:first-child .accordion-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.accordion-item:last-child .accordion-header {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.reward-item-cnt {
    max-width:120px;
}

/* page add button */
.option-add-btn {
    width:100px;
    border-color:#A5A58D;
    background-color:#B7B7A4;
    color:white;

    font-size:18pt;
    font-weight: bold;
    padding: 0px;
}
.option-add-btn:hover{
    border-color:#B7B7A4;
    background-color: white;
    color:#B7B7A4;
}
.option-add-btn:focus, .option-add-btn:active {
    border-color:#B7B7A4;
    background-color: white;
    color:#B7B7A4;
    box-shadow: 0 0 0 0.25rem #B7B7A488 !important;
}


.label {
    font-size:0.8em;
    color:#6f6f6f;
    margin-bottom:0;
    line-height:20px;
}

@media screen and (max-width:574px){
    .reward-item-cnt {
        max-width:100%;
    }
}