.reward-card {
    position: relative;
    font-family: 'Avenir';
    height:fit-content;
}
.reward-card h4 {
    font-weight:600;
}

.reward-title {
    font-size:18pt;
}

.reward-mask {
    position:absolute;
    left:0;
    right:0;
    height:100%;
    width:100%;
    color:transparent;

    display:flex;
    justify-content: center;
    align-items: center;

    transition: 0.1s ease-in;
}
.reward-mask:hover {
    color:black;
    background-color:#DDBEA9AA;
}

.text-small {
    font-size:10.8pt;
    font-weight: lighter;
    color:#686868;
}